h1{
    color: red
}

button{
    padding: 10px;
    border: none;
    background-color: red;
    color: white;
    margin-bottom: 10px;
}

p{
    font-weight: bold;
}

span{
    color:red
}

input{
    height: 25px;
    outline-color: red;
}

textarea{
    height:100px;
}

.note-div{
    background: rgb(228, 212, 212);
}
